table, tr{
    background-color: antiquewhite;
    margin: 10px;
}
tr:hover{
    scale: 120%;
    padding: 20px;

}
#lewa{
    text-align: left;
}
#ok{
    font-style: italic;
}
#reszta{
    text-align: left;
    width: 500px;
}
#koszyk{
    vertical-align: bottom;
    align-items: end;
}
a>img{
    height: 100px;
}